name: Build with lualatex
on:
  push:
  pull_request:
  schedule:
    - cron: '1 2 2,16 * *'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: prepare papers
        working-directory: ./papers
        run: |
          sudo pip3 install pyparsing
          sudo pip3 install python-docx
          # generate paper.tex out of paper.docx
          ./add_tex_via_docx.sh
          # generate final proceedings.tex based on the information of each paper.tex file
          python3 ../addAuthTiProduction.py ../proceedings.template.tex ../proceedings.tex */paper.tex
      - name: latexmk proceedings
        uses: dante-ev/latex-action@edge
        with:
          root_file: proceedings.tex
      - name: fix .bib and .csv
        run: |
          # the last two steps of makeproceedings.sh
          sed -i "s/\\\\textunderscore /_/g" proceedings.bib
          sed -i "s/ ;/;/g" proceedings.csv
      - name: extract meta data
        run: |
          cp proceedings.csv meta-extract/
          cd meta-extract && python3 metaExtract.py papers.csv ws.csv proceedings.csv
      - name: shrink proceedings.pdf into proceedings-shrunk.pdf
        run: |
          sudo apt-get update
          sudo apt-get install -qy ghostscript pdftk
          ./shrinkpdf.sh proceedings.pdf proceedings-shrunk-with-shrinkpdf.pdf
      - name: shrink proceedings.pdf into proceedings-shrunk-with-cpdfsqueeze.pdf
        uses: koppor/cpdfsqueeze-action@v1
        with:
          input_file: 'proceedings.pdf'
          output_file: 'proceedings-shrunk-with-cpdfsqueeze.pdf'
      - name: slice proceedings
        run: |
          cp proceedings-shrunk-with-shrinkpdf.pdf proceedings.csv slicing/
          cd slicing
          python3 slicing.py proceedings-shrunk-with-shrinkpdf.pdf proceedings.csv
      - name: Gather build artifacts
        run: |
          mkdir build
          mv meta-extract/meta_extract.csv build/
          mv proceedings.pdf build/proceedings-large.pdf
          mv proceedings-shrunk-with-cpdfsqueeze.pdf build/proceedings-final.pdf
          mv proceedings-shrunk-with-shrinkpdf.pdf build/
          mv slicing/parts/*.pdf build/
      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/
